body {
  font-family: Tahoma, sans-serif;
  background-color: rgb(255, 222, 210);
}

h1 {
  margin-top: 5px;
  margin-bottom: -0px;
  text-align: center;
  font-size: 50px;
}

#contact_info {
  margin-bottom: -0px;
  text-align: center;
  font-size: 40px;
}

.proj_images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -0px;
}

.some_text {
  font-size: 20px;
  margin-bottom: 10px;
}

.pic_ann {
  margin-top: 0px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

#pub_title {
  font-weight: bold;
  font-size: xx-large;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: help;
  font-size: x-large;
  padding: 5px;
  width: 100%;
  text-align: left;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  font-size: x-large;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  margin-bottom: 5px;
}

/*needed for arrow for list*/
.arrow {
  border: solid rgb(252, 252, 252);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}